
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    --bg: hsl(235, 21%, 11%);
    --fg:hsl(234, 39%, 85%);
    --top-img:url('/images/bg-mobile-dark.jpg');
    --tgl-btn:url('/images/icon-sun.svg');
    --bg-todo: hsl(235, 24%, 19%);
    background: var(--bg);
    color: var(--fg);
    --cross-icon:url("/images/icon-cross.svg");
    --check-icon:url("/images/check.svg");
    --top-img-desktop:url("/images/bg-desktop-dark.jpg")
}

.top-img{
    width: 100%;
    height: 230px;
    background-size: cover;
    background-image: var(--top-img);
}
/*Attributes for light theme . By default dark-theme will be there.*/
.light{                         
    --bg: hsl(236, 33%, 92%);        
    --fg: hsl(237, 14%, 26%);
    --top-img: url('/images/bg-mobile-light.jpg');
    --tgl-btn: url('/images/icon-moon.svg');
    --bg-todo: hsl(0, 0%, 98%);
}

main{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 25px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    letter-spacing: 10px;
    padding-top: 30px;
}

.tgl-btn{
    background: var(--tgl-btn);
    width: 30px;
    height:30px;
    background-size: cover;
}

.type-todo{
    margin-top: 25px;
    width: 100%;
    background: var(--bg-todo);
    padding: 10px;
    height: 55px;
    display: grid;
    grid-template-columns: 10% auto;
    align-items:center;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid hsl(237, 14%,26%);
    cursor: pointer;
}

#todo-ip{
    --fg-dark:hsl(233, 14%, 35%);
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    color: var(--fg);
    caret-color : hsl(220,98%,61%);
}

#todo-ip:focus{
    outline: none;
}

.cross{
    background-image: var(--cross-icon);
    background-size: cover;
    width: 20px;
    height: 20px;
    opacity: 2;
    cursor: pointer;
}

.todos{
    margin-top: 1.6rem;
    background-color: var(--bg-todo);
}

.todo{
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    padding: 10px;
}
.todo input[type="checkbox"]{
    display: none;
}
.todo p {
    cursor: grab;
}
.light .todo p {
  font-weight: 500;
  color: rgb(27, 26, 26);
  cursor: grab;
}

.todo p:hover {
  font-weight: 600;
}
.active{
    position: relative;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.active::before{
    content: "✔";
    position: absolute;
    width: 15px;
    height:15px;
    padding-left: 3px;
    margin-bottom: 8px;
}
.remarks{
    position: relative;
    background: var(--bg-todo);
    height:55px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remarks div{
    padding: 0 10px;
}
.filters{
    background: var(--bg-todo);
    height: 55px;
    position: absolute;
    bottom: -70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filter-activetabs{
    color: hsl(220,98%,61%);
}
@media screen and (min-width: 800px)
{
    .header,
    .type-todo,
    .todos,
    .remarks{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .filters{
        top:0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        background: transparent;
    }
    .top-img{
        width: 100%;
        height: 230px;
        background-size: cover;
        background-image: var(--top-img-desktop);
    }
    .light{
        --bg: hsl(236, 33%, 92%);        
        --fg: hsl(237, 14%, 26%);
        --tgl-btn: url('/images/icon-moon.svg');
        --bg-todo: hsl(0, 0%, 98%);
        --top-img-desktop:url("/images/bg-desktop-light.jpg");
    }
}